.hero-ecosistema{

    background:
        linear-gradient(
            rgba(215,255,215,.45),
            rgba(215,255,215,.25)
        ),
        url("../assets/images/hero.jpg");

    background-size:cover;
}

.directory-grid,
.network-section{

    max-width:1400px;
    margin:auto;
}

#actoresGrid,
#networkCards{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));

    gap:1.5rem;
}

.ecosystem-map{

    max-width:1400px;
    margin:auto;
}

.ecosystem-map #map{
    height:700px;
    border-radius:20px;
}